.contenEmpresa{
    width: 60%;
    margin: 1rem auto;
    padding: 2rem;
    transition: all 0.3s;
}
.contenEmpresa p{
    line-height: 1.5;
}

.centrarDiv {
    height: 300px;
}

.formP {
    margin-bottom: 0;
    color: white;
    font-weight: bold;
}

/* RMA SELECTOR */

.containerRmaButtons {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 800px) {
    .containerRmaButtons {
        padding-top: 60px;
        
    }
    .contAlt{
        height: 200px;
    }

}

@media only screen and (max-width: 800px) {
    .containerRmaButtons {
        flex-wrap: wrap;
    }

}

.butn2 {
    width: 80%;
    height: 60%;
    margin: 20px 0;
    background: #333;
    border-radius: 20px;
    font-size: 20px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
}

.butn2:hover {
    background: rgba(51, 51, 51, 0.564);
    font-size: 20px;
    transition: 0.5s;
    text-decoration: none;
    color: white;
}


/* RMA MARCAS */

.containerRmaBrands {
    display: flex;
    justify-content: center;
}

.containerRmaBrandsHeight {
    height: 300px;
}

/* BOTON RMA FALLA */

.butn3{
    margin: 20px 0;
    padding: 1%;
    border-radius: 30px;
    background: #333;
    font-size: 20px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
}

.butn3:hover {
    background: rgba(51, 51, 51, 0.564);
    font-size: 20px;
    transition: 0.5s;
    text-decoration: none;
    color: white;
}


/*boton centro de ayuda */

.ayudas{
    box-sizing: border-box;
    position: relative;
    display:flex ;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;   
    max-width: 100vw;
}

@media only screen and (max-width: 600px) {
    .ayudas {
        flex-direction: column;        
    }
    
}
.boxAyudas{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 20px;
    border-style:double;
    border-radius: 10px;
    cursor: pointer;
}
.boxAyudas:hover{
    background-color: rgb(211, 209, 209);
    transition: 0.4s all;
}

.boxAyudas i {
    margin: 10px;
    display: inline-block ;
    justify-content: center;
    font-size: 50px;
    text-align: center;
}
.tituloAyudas{
    margin: 2vh;
    display:block;
    justify-content: space-between;
    text-align: center;
    
}

.accesoAyuda {
    position: relative;
   /*  display:block; */
   /*  flex-wrap: nowrap; */
  /*   text-decoration:none; */
    color: #333 ;
    font-weight:bold;
  /*   text-align: justify; */
    margin:1vh;
    cursor:pointer;
    justify-content: flex-end;
}
.accesoAyuda i {
    margin: 1vh;
    font-size: 25px;
}
.listadoAyudas{
    justify-content: flex-start ;
    font-weight: bold ;
    color: #555
}

.listadoAyudas ul li {
    list-style-type:disc;
}

.ayudasMiCuenta {
    width: 20vw;
    /* max-width: 16vw; */
    justify-content:center;
}

@media only screen and (max-width: 600px) {
    .accesoAyuda {
        /* flex-direction: column;  */   
        text-align:center ;    
    }
    .ayudasMiCuenta {
        width: auto;
        /* text-align: center; */
    }
    .listadoAyudas{
        text-align: justify;
        justify-content: center;
        margin-left: 2rem;
        
    }
    .imgCentroDeAyuda {
        width: 100%;
        height: 200px;
    }
}

@media only screen and (min-width: 900px) {
.listadoCentroAyuda {
    max-width: 250px;
    width: 200px;
}
}

.contenedorImgBanner {
    position: relative;
}

.imgCentroDeAyuda {
    width: 100%;
}

.textoEnImagenBanner {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

.textoEnImagenBanner2 {
    left: 50%;
    position: absolute;
    top: 70%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
}